body {
  background: #00ff00;
}
body div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid white;
}
body p {
  color: white;
  font-size: 3rem;
}
